:root{
  --var-body-color: #f6f9fe;
  --var-header-color: #1e1d23;
  --main-color: rgb(16, 217, 127);
}

*{
  font-family: 'lato';
  padding: 0;
  margin: 0;
  color: white;
}

body{
  background-color: var(--var-body-color);
  background-color: #f6f9fe;
}

section{
  width: 100%;
}


.slider{
  background-image: linear-gradient( rgba(4, 255, 197, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/test-photo.jpg);
  background-position: bottom;
}

.cover{
  align-items: center;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
}


.main{
  background-color: var(--main-color);
  background-color: rgb(16, 217, 127);
  padding: 75px 0;
}

.links{
  background-color: var(--main-color);
  background-color: rgb(16, 217, 127);
  padding-bottom: 3px;
}

.container{
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

.box{
  background-color: var(--var-header-color);
  background-color: #1e1d23;
  border-radius: 2px;
  box-shadow: 0px 3px 10px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 20px;
}

.box h5{
  color: blue;
  background-color: yellow;
}
