<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/manageBlogs.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="./css/styles.css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400i|Pacifico" rel="stylesheet">
    <title>manageUsers</title>
  </head>
  <body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="logo">
      <h1 class="logoText">Easy Motion</h1>
    </div>
    <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Calendarios
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Blogs
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <a href="#">Nosotros</a>
      <div class="dropdown">
        <button class="dropbtn">Username
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Perfil</a>
          <a href="#">Calendarios</a>
          <a href="#">Agregar Progreso</a>
          <a href="#">LogOut</a>
        </div>
      </div>
      <a href="javascript:void(0);" class="icon">&#9776;</a>
    </div>

    <script src="./js/navbar.js"></script>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header green">
      <span class="close">&times;</span>
      <h2>Nuevo User</h2>
    </div>
    <div class="modal-body">
    <form action="" method="POST" class="formulario" name="create">
        <input type="text" name="name" placeholder="Nombre">
        <input type="text" name="email" placeholder="Correo">
        <input type="text" name="mobile" placeholder="Telefono">
        <input type="text" name="password" placeholder="Password">
        <label for="role">Role</label>
        <select name="role" placeholder="Role">
          <option value="0">No</option>
          <option value="1">Si</option>
        </select>
        <label for="confirmed">Confirmado</label>
        <select name="confirmed" placeholder="Confirmed">
          <option value="0">No</option>
          <option value="1">Si</option>
        </select>
        <input type="submit" value="Submit">
    </form>

    </div>
    <div class="modal-footer green">
      <h3>Modal Footer</h3>
    </div>
  </div>
</div>

<div id="myEditModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header yellow">
      <span class="close">&times;</span>
      <h2>Edit User</h2>
    </div>
    <div class="modal-body">
      <form action="" method="POST" class="formulario" name="create">
          <input type="text" name="name" placeholder="Nombre">
          <input type="text" name="mobile" placeholder="Telefono">
          <input type="text" name="email" placeholder="Correo">
          <label for="role">Role</label>
          <select name="role" placeholder="Role">
            <option value="0">No</option>
            <option value="1">Si</option>
          </select>
          <label for="confirmed">Confirmado</label>
          <select name="confirmed" placeholder="Confirmed">
            <option value="0">No</option>
            <option value="1">Si</option>
          </select>
          <input type="submit" value="Submit">
      </form>

    </div>
    <div class="modal-footer yellow">
      <h3>Modal Footer</h3>
    </div>
  </div>
</div>


<div class="nav-filters">
    <ul>
      <li>
        <label for="">Name:</label>
        <input type="text" name="Name" value="" placeholder="Nombre">
      </li>
      <li>
        <label for="">Email:</label>
        <input type="text" name="Email" value="" placeholder="Email">
      </li>
      <li>
        <label for="">Mobile:</label>
        <input type="text" name="Mobile" value="" placeholder="Mobile">
      </li>
    </ul>
</div>




<!-- Tabla Crud -->
<div class="container-table">
<table class="table">
  <thead class="rowgroup">
    <tr class="row">
      <th class="columnheader">Select</th>
      <th class="columnheader">
        <a class="sort" href="#">Id</a>
        <div class="order">
          <a href="#"><i class="fa fa-long-arrow-up fa-xs"></i></a>
          <a href="#"><i class="fa fa-long-arrow-down fa-xs"></i></a>
        </div>
      </th>
      <th class="columnheader">
        <a class="sort" href="#">Name</a>
        <div class="order">
          <a href="#"><i class="fa fa-long-arrow-up fa-xs"></i></a>
          <a href="#"><i class="fa fa-long-arrow-down fa-xs"></i></a>
        </div>
      </th>
      <th class="columnheader">
        <a class="sort" href="#">Mobile</a>
        <div class="order">
          <a href="#"><i class="fa fa-long-arrow-up fa-xs"></i></a>
          <a href="#"><i class="fa fa-long-arrow-down fa-xs"></i></a>
        </div>
      </th>
      <th class="columnheader">
        <a class="sort" href="#">Email</a>
        <div class="order">
          <a href="#"><i class="fa fa-long-arrow-up fa-xs"></i></a>
          <a href="#"><i class="fa fa-long-arrow-down fa-xs"></i></a>
        </div>
      </th>
      <th class="columnheader">
        <a class="sort" href="#">Role</a>
        <div class="order">
          <a href="#"><i class="fa fa-long-arrow-up fa-xs"></i></a>
          <a href="#"><i class="fa fa-long-arrow-down fa-xs"></i></a>
        </div>
      </th>
      <th class="columnheader">
        <a class="sort" href="#">Confirmed</a>
        <div class="order">
          <a href="#"><i class="fa fa-long-arrow-up fa-xs"></i></a>
          <a href="#"><i class="fa fa-long-arrow-down fa-xs"></i></a>
        </div>
      </th>
      <th class="columnheader">Options</th>
    </tr>
  </thead>
  <tbody class="rowgroup">
    <tr class="row">
      <td class="cell cellcenter"><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td>
      <td class="cell">1</td>
      <td class="cell">Juan</td>
      <td class="cell">3312426507</td>
      <td class="cell">HolasoyJuan@gmail.com</td>
      <td class="cell">1</td>
      <td class="cell">1</td>
      <td class="cell">
        <button class="editButton" data-id="1" data-name="User1" data-mobile="3312" data-mail="user1@gmail.com"><i class="fa fa-edit"></i></button>
        <button class="deleteButton"><i class="fa fa-close"></i></button>
      </td>
    </tr>
    <tr class="row">
      <td class="cell cellcenter"><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td>
      <td class="cell">2</td>
      <td class="cell">Juan</td>
      <td class="cell">3312426507</td>
      <td class="cell">HolasoyJuan@gmail.com</td>
      <td class="cell">1</td>
      <td class="cell">1</td>
      <td class="cell">
        <button class="editButton" data-id="2" data-name="User2" data-mobile="3312" data-mail="user1@gmail.com"><i class="fa fa-edit"></i></button>
        <button class="deleteButton"><i class="fa fa-close"></i></button>
      </td>
    </tr>
    <tr class="row">
      <td class="cell cellcenter"><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td>
      <td class="cell">3</td>
      <td class="cell">Juan</td>
      <td class="cell">3312426507</td>
      <td class="cell">HolasoyJuan@gmail.com</td>
      <td class="cell">1</td>
      <td class="cell">1</td>
      <td class="cell">
        <button class="editButton" data-id="3" data-name="User3" data-mobile="3312" data-mail="user3@gmail.com"><i class="fa fa-edit"></i></button>
        <button class="deleteButton"><i class="fa fa-close"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<div class="buttons">
  <button class="button red" type="button" name="deleteAll">Eliminar Sel</button>
  <button class="button green" id="myBtn">Add User</button>
</div>
</div>

<!-- Scrip Modal -->
<script src="./js/modalUser.js"></script>


  </body>
</html>
