:root{
  --var-body-color: #f6f9fe;
  --var-header-color: #1e1d23;
  --main-color: rgb(16, 217, 127);
  --footer-color: rgb(164, 164, 164);
}

*{
  font-family: 'lato';
  padding: 0;
  margin: 0;
  color: white;
}

body{
  background-color: var(--var-body-color);
  background-color: #f6f9fe;
}

section{
  width: 100%;
}

.mini-form{
  background-color: var(--main-color);
  background-color: rgb(16, 217, 127);
  -webkit-box-shadow: 0px 3px 10px black;
          box-shadow: 0px 3px 10px black;
  display: block;
  text-align: center;
  padding: 20px 150px;
}

.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mini-form form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.login{
  padding: 75px 0;
}

.login .container p{
  padding: 0 10px;
}

.inputs{
  margin: 0 0 20px;
}

.remember{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px;
}

.remember a {
  text-decoration: none;
}

.inputs input{
  display: block;
  color: black;
  margin-top: 10px;
  padding-top: 5px;
  height: 30px;
  width: 255px;
}

.error-msg{
  display: block;
  margin-top: 10px;
  border-radius: 5px;
  width: 255px;
  text-align: left;
  font-size: 10px;
}

.error-msg h1{

}

.error{
  border: 1px solid red;
}

input[type="submit"]{
  background: #24ca32;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid black;
}

.submit:hover{
  background-color: rgb(0, 157, 2);
}

@media screen and (max-width: 400px) {
  .container{display: block}
  input{width: 100%;}
  .mini-form{
    padding: 10px 0;
   }
}
